<br>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3">
      <div id="research-div" class="container">
        <h1 id="research-title" class="text-center">Chart 1</h1>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="container">
        <h1 id ="c-nation" class="text-center">Research</h1>
      </div>
    </div>
    <div class="col-sm-3">
      <div id="research-div" class="container">
        <h1 id ="research-title" class="text-center">Chart 2</h1>
      </div>
    </div>
  </div>
</div>



<a id="exit" href="<%= game_path(current_game.uuid) %>" class="btn btn-info" role="button">Back</a>
