<% content_for :title, "aaa - sign up" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<div class="container" style="padding-top:2vw">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="card">
      <article class="card-body">
        <%= link_to 'Sign in', root_path, class:"btn btn-outline-primary float-right", role:"button" %>
        <h1 class="card-title mb-4 mt-1">Sing up</h1>
          <form>
          <%= render 'form', user: @user %>
          </form>
      </article>
      </div> <!-- card.// -->
    </div>
    <div class="col-sm-4"></div>
    </div>
</div>
