<br>
<h1 class="title text-center">Axis and Allies Economy</h1>
<br>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <a class="btn btn-main btn-basic shadow-text" style="margin-left:auto;margin-right:auto" href="<%= '/auth/google' %>">Sign-in using Google</a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
