<% content_for :title, "aaa - log-in" %>
<div class="title text-center shadow-text">Axis and Allies Economy</div>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<div class="container-fluid" style="padding-top:2vw">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <a class="btn btn-main btn-basic shadow-text" style="margin-left:auto;margin-right:auto" href="<%= '/auth/google' %>">Sign-in using Google</a>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
