<h1 class="title text-center">Axis and Allies Economy</h1>
<br>
<!--<%= image_tag "title.png" , :id=> "title"%>-->
<h3 class="text-center"><a href="<%= '/auth/google' %>">Sign-in using Google</a></h3>
