<br>
<h1 class="title text-center">Axis and Allies Economy</h1>
<br>

<br>
<br>
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <%= link_to "New Game",  new_game_path, :class =>"btn btn-main btn-basic btn-block ", :role => "button"%>
      <%= link_to "Load Game", games_path,    :class =>"btn btn-main btn-basic btn-block ", :role => "button"%>
      <%= link_to "Sign-out",  logout_path,   :class =>"btn btn-main btn-basic btn-block ", :role => "button"%>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<h3 id="signed-in" style="" class="text-center bottomalignedright shadow-text">Signed in: <%=current_user.email%></h3>
