<h1 class=" title text-center">Load Game</h1>

<div class="list-group">
  <% current_user.games.each do |game| %>
    <a href="<%= game_path(game.uuid) %>" class="btn btn-info btn-block btn-lg" role="button" ><%= game.name %></a>
    <%= link_to 'Delete', game_path(game.uuid), method: :delete,data: {confirm: "Are you sure?"} %>
  <% end %>
</div>

<%= link_to "Back", home_path %>
