<% content_for :title, "aaa - new game" %>
<div class="title text-center shadow-text">New Game<div>
<div class="container-fluid" style="padding:0px">

<%= render 'form' %>

<%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg bottomaligned", :role => "button"%>
</div>
