<div class="container-fluid">
  <br>
<h1 class="title text-center">New Game<h1>

<%= render 'form' %>

<%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg bottomaligned", :role => "button"%>
</div>
