<br>
<h1 class="title text-center">New Game<h1>

<%= render 'form' %>

<div class="bottom">
  <%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg", :role => "button", :style => "font-size:40px"%>
</div>
