<div class=" title text-center shadow-text">Battle Calculator</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i style="font-size:2rem" class="fas fa-dice-d6"></i> </span>
         </div>
         <%= select_tag "game[game_name]", content_tag(:option,'Select a Game Version...',:value=>"")+options_for_select([['1940 Global','1940Global'],['1942 Spring','1942'],['1914 WWI', '1914']]), class:'input-group-form game-select-form' %>
      </div>
      <div class="input-group mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i style="font-size:2rem" class="fas fa-dice-d6"></i> </span>
         </div>
         <%= select_tag "game[game_name]", content_tag(:option,'Select a Battle Type...',:value=>"")+options_for_select([['Land','land'],['Water','water'],['Amphibious', 'amphibious']]), class:'input-group-form game-select-form' %>
      </div>
      <div class="battle-card">
        <table style="table-layout:fixed%">
          <thead>
            <tr class="h2 table-top">
              <th class="text-center" style="width:20%">Attacker</th>
              <th class="text-center" style="width:60%"></th>
              <th class="text-center" style="width:20%">Defender</th>
            </tr>
          </thead>
          <tbody class="unit-input">
            <% current_user.battle_calculator.teams.first.units.all.each do |u| %>
              <tr class="change">
                <td class="m-0 p-0 text-center col nowrap"><input class="" type="number" id="aInf" value="0" min="0" max="99"></input></td>
                <td class="m-0 p-0 text-center col nowrap"><%=u.name%></td>
                <td class="m-0 p-0 text-center col nowrap"><input class="" type="number" id="dInf" value="0" min="0" max="99"></input></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>


<button class="btn-default bottom-aligned-right shadow-text" role="button">Run Simulation</button>
<%= link_to "Back", root_path, id:"btn-back", class: "btn btn-default bottom-aligned-left shadow-text", role:"button"%>
