<div class=" title text-center shadow-text">Battle Calculator</div>

<div class="col-sm-3" style="padding-left:0px;padding-right:0.25vw">
  <div class="row" style="margin-left:0px; margin-right:0px">
    <table style="width:100%">
      <thead>
        <tr style="font-size: 3vw;background-color:rgba(200, 200, 200, 0.4)" class="shadow-text table-top">
          <th class="text-center">Count</th>
          <th class="text-center">Type</th>
          <th class="text-center">Count</th>
        </tr>
      </thead>
      <tbody>
        <tr class="change">
          <td class="text-center col nowrap shadow-text" id="eco-bank">
            <input type="text" name="lname" style="width:40%">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span> Search
            </button>
          </td>
          <!-- <td class="text-center col nowrap shadow-text" id="eco-income">(Mech) Infantry</td>
          <td class="text-center col nowrap shadow-text" id="eco-bank"><input type="text" name="lname" style="width:40%"></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>








<%= link_to "Back", home_path, :class =>"btn btn-basic btn-lg bottomaligned", :role => "button"%>
