/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "buttons.scss";
 @font-face {
    //font-family: 'test'; /*a name to be used later*/
    //src: url('https://ff.cdn.1001fonts.net/a/l/alte-din-1451-mittelschrift.regular.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Glyphicons Halflings';
  //src: url('../fonts/glyphicons-halflings-regular.eot');
  //src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html {
  min-height: 100% !important;
  height: 100%;
}

body {
 background-color: #353535;
 font-family: 'ariel', serif;
 color: #0d0d0d;
 height:100%;
 line-height: unset;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-2;
  height:100%;
  width:100%;
  position:fixed
}
#background-image{
  filter: blur(20px);
}

.title {
  font-size: 10rem;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.shadow {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0px -1px 0px, rgb(0, 0, 0) 0px 1px 0px, rgb(0, 0, 0) -1px 0px 0px;
}

.shadow-text {
  //text-shadow: black 0.05vw 0.05vw 0vw, black -0.02vw -0.05vh 0vw, black 0.02vw 0vw 0vw, black -0.05vh 0vw 0vw;
  //text-shadow: black 1px 1px 0vw, black 0px -1px 0vw, black 1px 0vw 0vw, black -1px 0vw 0vw;
  //text-shadow: 2px 2px 2px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nowrap {
  white-space:nowrap;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.top-aligned-left{
  margin:0.1vw;
  position: absolute;
}

.bottom-aligned {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  left: 0;
  margin-left:0.1vw}

.bottom-aligned-middle {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.bottom-aligned-right {
  position:fixed; bottom:0;
   margin-bottom:0.1vw;
   right: 0;
   margin-right:0.1vw
 }

@media only screen and (max-width: 768px){
 .title {
   font-size: 4rem;
 }
}
