/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @font-face {
    //font-family: 'test'; /*a name to be used later*/
    //src: url('https://ff.cdn.1001fonts.net/a/l/alte-din-1451-mittelschrift.regular.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'Glyphicons Halflings';
  //src: url('../fonts/glyphicons-halflings-regular.eot');
  //src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

html {
  min-height: 100% !important;
  height: 100%;
}

body {
 background-color: #353535;
 font-family: 'ariel', serif;
 color: #0d0d0d;
 height:100%;
 line-height: unset;
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:-2;
  height:100%;
  width:100%;
  position:fixed
}

.btn{
  color: white;
  background-color: #464646;
  white-space: pre-wrap;
  border-width:0.15rem;
  border-color: black;
  border-radius: 4px;
  font-size: 1rem;
}

.btn-basic{
  font-size: 3vh;
  padding:1.0vw;
}

.btn-glyph{
  padding:0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 2rem;
}

.glyphicon {
    //font-size: 50px;
}



.btn-main {
  font-size: 3rem;
  width:100%;
  margin-top: 0.5rem;
}

.btn-bandw {
    background-color: #464646;
    border-color: #464646;
    white-space: nowrap;
}

.btn-sepia {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
  color:white;
}

.toggle-handle{
  background-color: #eeeeee;
}

.btn-edit-game{
  margin-top:0.1rem;
  margin-bottom:0.1rem;
  padding: 0.2rem;
  font-size: 1.5rem;
  white-space: nowrap;
}

.btn-copy {
  color:white;
  background-color: cadetblue;
}

.btn-delete {
  background-color: red;
}

.btn-reset-buy {
  background-color: red;
  font-size: 3vh;
}

.btn-edit{
  background-color: green;
}

.btn-end-turn {
  padding:1vh;
  color: white;
  font-size: 5vh;
}

.btn-game {
  width:100%;
  padding:0.4rem;
}

.btn-menu{
  background-color: #464646;
  color: white;
  font-size: 1.75vw;
  padding:0.5rem
}

.btn-nat {
  text-align: left;
  width: 100%;
  font-size: 3vh;
}

.btn-research-top{
  font-size: 1.75rem;
  width:100%;
  height:6rem;
  padding-left:0.2rem;
  padding-right:0.2rem;

}

.btn-research {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size:2.0rem;
  width:100%;
}

.btn-side{
  color: white;
  font-size: 3vh;
  padding:1.0vw;
  width:100%;
}

.btn-unit {
  padding:0.1rem;
  width:100%;
  font-size: 1.85rem;
}

.btn-change {
  font-size: 1.5rem;
}

.btn-victory{
  background-color: grey;
  margin-bottom:0.5vw;
  padding:0.75vw;
  text-align:left;
  font-size:2.0rem;
  width:100%
}

.btn:hover, .btn-reset-buy:hover, .btn-game:hover, .btn-nat:hover, .btn-end-turn:hover, .btn-side:hover, .btn-copy:hover, .btn-basic:hover, .btn-delete:hover{
  background-color: #bfbfbf;
  color: black;
  text-shadow: black 0px 0px 0vw;
  border-color: #bfbfbf;
}

.btn-glyph:hover{
  background-color: transparent;
}

background-image{
  filter: blur(20px);
}

.title {
  font-size: 10rem;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

.shadow {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0px -1px 0px, rgb(0, 0, 0) 0px 1px 0px, rgb(0, 0, 0) -1px 0px 0px;
}

.shadow-text {
  //text-shadow: black 0.05vw 0.05vw 0vw, black -0.02vw -0.05vh 0vw, black 0.02vw 0vw 0vw, black -0.05vh 0vw 0vw;
  //text-shadow: black 1px 1px 0vw, black 0px -1px 0vw, black 1px 0vw 0vw, black -1px 0vw 0vw;
  //text-shadow: 2px 2px 2px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nowrap {
  white-space:nowrap;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.bottomaligned {
  position:fixed;
  bottom:0;
  margin-bottom:0.1vw;
  left: 0;
  margin-left:0.1vw}

.bottomalignedmiddle {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.bottomalignedright {
  position:fixed; bottom:0;
   margin-bottom:0.1vw;
   right: 0;
   margin-right:0.1vw
 }

@media only screen and (max-width: 768px){
 .title {
   font-size: 4rem;
 }
}
