/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @font-face {
    font-family: 'test'; /*a name to be used later*/
    src: url('https://ff.cdn.1001fonts.net/a/l/alte-din-1451-mittelschrift.regular.ttf'); /*URL to font*/
}

body {
 background-color: #353535;
 font-family: 'test','ariel', serif;
 color: #0d0d0d;
 background-size: auto;
 background-repeat: no-repeat;
 background-position: center;

}

@media (max-width : 480px) {
	background-size: contain;
  background-image: url(/assets/ussr.png);
}

background-image{
  filter: blur(20px);
}

.title {
  font-size: 6rem;
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.shadow {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0px -1px 0px, rgb(0, 0, 0) 0px 1px 0px, rgb(0, 0, 0) -1px 0px 0px;
}

.shadow-text {
  text-shadow: rgb(0, 0, 0) 0.05vw 0vw 0vw, rgb(0, 0, 0) 0vw -0.05vh 0vw, rgb(0, 0, 0) 0vw 0.05vw 0vw, rgb(0, 0, 0) -0.05vh 0vw 0vw;
}

.btn{
  border-color: black;
}



.btn-basic{
  background-color: #464646;
  color: white;
  font-size: 3vh;
  padding:1.0vw;
  border:0.050vw;
  border:solid;
  border-color: black;
}

.btn-main {
  font-size: 2rem;
}

.btn-basic:hover{
  background-color: #bfbfbf;
  color: black
}

.btn-menu{
  background-color: #464646;
  color: white;
  font-size: 2vw;
  padding:1.0vw
}
.btn-menu:hover{
  background-color: #bfbfbf;
  color: black
}


.nowrap {
  white-space:nowrap;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.middle {
  vertical-align: middle;
}

.bottomaligned {position:fixed; bottom:0;  margin-bottom:0.1vw; left: 0; margin-left:0.1vw}

.bottomalignedright {position:fixed; bottom:0;  margin-bottom:0.1vw; right: 0; margin-right:0.1vw}
