// Place all the styles related to the battleCalculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.unit-input{
  font-size: 3rem;
  color:white;
}

.battle-input{
  width:50%
}
