// Place all the styles related to the battleCalculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.unit-input{
  font-size: 2rem;
  //color:#f9f2de;
}

.battle-input{
  width:50%
}

.battle-card{
  border-radius: 1rem;
  border:solid;
  padding:0.5rem;
  background-color: rgba(200,200,200,0.8);
}
