.btn{
  white-space: pre-wrap;
  border-radius: 1rem;
}

.btn-glyph{
  padding:0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 2rem;
}

.btn-default{
  font-size: 1rem;
  color:#f9f2de;
  border-color: #262626 !important;
  border:solid 2px;
  background-color: rgba(20,20,20,0.8);
  padding:2px;
  &:hover{
    text-shadow: none;
    background-color: rgba(230,230,230,0.5) !important;
    color:#262626;
  }
}

#btn-new-game, #btn-load-game, #btn-about, #btn-battle-calulator, {
  font-size: 2rem;
}
#btn-log-out, #btn-log-in, #btn-google{
  font-size: 0.75rem;
}

.btn-main {
  font-size: 3rem;
}

.btn-sign-up{
  font-size: 3rem;
  margin-top: 2.5rem;
  border-width: 2px;
  color:white;
}

.btn-login{
  padding:0.5rem;
  font-size:1.5rem;
  width:50%;
}

.toggle-handle{
  background-color: #eeeeee;
}

.edit{
  background-color:#52ad6a !important;
}

.delete{
  background-color:#ad5252 !important;
}

.copy{
  background-color:#5296ad !important;
}

.btn-reset-victory{
  color: red;
}

.btn-edit{
  border: solid 1px;
  margin:1px;
  color:#262626;
}

.btn-reset-buy {
  //background-color:#ad5252;
  &:hover{
    //background-color:rgba(173, 82, 82, 0.5) !important;
    //color:#262626 !important;
  }
}

.btn-pacific{
  background-color: #cb9b67;
}

.btn-pacific, .btn-end-turn, .btn-reset-buy{
  padding:1rem;
  font-size: 1.25rem;
}

.btn-end-turn, .btn-pacific {
  background-color: #f9f2fe;
  color:#262626;
}

.btn-game {
  width:100%;
  padding:0.4rem;
}

.btn-change{
  font-size: 0.75rem
}

.btn-side{
  font-size: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center !important;
}

.btn-unit {
  padding: 0rem;
  font-size: 0.9rem;
  border: solid 1px;
  border-radius:50%;
}

.btn-victory{
  font-size: 1rem;
  height: 50%;
}

.btn-objective, .btn-objective-enabled, .btn-victory, .btn-research, .btn-research-enabled, .btn-side{
  color:#262626;
  text-align: left;
  background-color: rgba(230,230,230,1);

  &:hover{
    background-color: rgba(20,20,20,0.2) !important;
    color:#f9f2de;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

.btn-objective-enabled{
  color:#f9f2de;
  border-color: white !important;
}

.btn-research, .btn-research-enabled {
  font-size: 1rem;
  text-align: center;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:1rem;
}

.btn-research-enabled{
  color:#f9f2de;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-victory-axis{
  background-color:#ff6666 !important;

  &:hover,
  &:focus,
  &:active,
  &:hover:active {
    text-decoration: none;
    color: #262626 !important;
    background-color:#ff6666 !important;
    text-shadow: none;
  }
}

.btn-victory-allies{
  background-color:#66ccff !important;

  &:hover,
  &:focus,
  &:active,
  &:hover:active {
    text-decoration: none;
    color: #262626 !important;
    background-color:#66ccff !important;
    text-shadow: none;
  }
}

.btn-sign-up:hover{
  background-color:#007bff !important;
  color:white;
  border-color:#007bff
}
.btn-glyph:hover{
  background-color: transparent;
}

.btn-change-eco{
  border:none;
  font-size: 2rem;
  color: #f9f2de;
  background-color: transparent;
}

.btn-nation{
  padding-top:1rem;
  padding-bottom: 1rem;
  margin:0.5rem;
  max-width:9%;
}

// mobile sizes
@media only screen and (max-width: 767px){
  .btn-nation{
    max-width:20%;
  }
}
