.btn{
  white-space: pre-wrap;
}

.btn-glyph{
  padding:0px;
  border-radius: 0px;
  border-width: 0px;
  background-color: transparent;
  font-size: 2rem;
}

.btn-default{
  color: #f9f2de;
  border: solid 2px;
  border-color: #f9f2de;
  background-color: rgba(20,20,20,0.3);
  font-size: 2rem;
  &:hover {
    text-shadow: none;
    background-color: rgba(230,230,230,0.3);
    border-color: rgba(20,20,20,0.3);
    color:#262626
  }
}

#btn-new-game, #btn-load-game, #btn-about{
  font-size: 3rem;
}

#btn-sign-out{
  font-size: 1.5rem;
}

.btn-main {
  font-size: 3rem;
}

.btn-sign-up{
  font-size: 3rem;
  margin-top: 2.5rem;
  border-width: 2px;
  color:white;
}

.btn-login{
  padding:0.5rem;
  font-size:2rem;
  width:50%;
}

.toggle-handle{
  background-color: #eeeeee;
}

.edit{
  background-color:#52ad6a !important;
}

.delete{
  background-color:#ad5252 !important;
}

.copy{
  background-color:#5296ad !important;
}

.btn-edit{
  border: solid 1px;
  margin:1px;
  color:#262626;

  &:hover{
    background-color: rgba(230,230,230,0.3) !important;
  }
}

.btn-reset-buy {
  background-color:#ad5252;
  margin-right: 0.2rem;
  border:solid 1px;
  font-size: 2.5rem;
  margin:auto;
  margin-right:0.5rem;
  &:hover{
    background-color:rgba(173, 82, 82, 0.7);
    color:#f9f2fe
  }
}

.btn-end-turn {
  padding:1rem;
  color: #f9f2fe;
  font-size: 4rem;
}

.btn-game {
  width:100%;
  padding:0.4rem;
}

.btn-menu{
  background-color: #464646;
  color: #f9f2fe;
  font-size: 1.75vw;
  padding:0.5rem

}

.btn-nation, .btn-objective {
  color: #f9f2fe;
  width: 100%;
  font-size: 2rem;
  border: solid 1px;
  border-color: #262626 !important;

  &:hover{
    text-shadow: none;
    background-color: rgba(230,230,230,0.5) !important;
    color:#262626 !important;
  }
}

.btn-objective{
  text-align: left
}

.btn-research-top{
  font-size: 1.75rem;
  width:100%;
  height:6rem;
  padding-left:0.2rem;
  padding-right:0.2rem;

}

.btn-research {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size:2.0rem;
  width:100%;
}

.btn-side{
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-unit {
  padding: 0rem;
}

.btn-pacific{
  background-color: #cb9b67;
  padding:1rem;
  color: #f9f2fe;
  font-size: 4rem !important;
}

.btn-change, .btn-change-eco, .btn-end-turn, .btn-unit, .btn-pacific {
  font-size: 1.5rem;
  color:#f9f2de;
  border-color: #262626 !important;
  border:solid 1px;

  &:hover{
    text-shadow: none;
    background-color: rgba(230,230,230,0.5) !important;
    color:#262626 !important;
  }
}

.btn-victory{
  background-color: grey;
  margin-bottom:0.5vw;
  padding:0.75vw;
  text-align:left;
  font-size:2.0rem;
  width:100%
}

.btn-sign-up:hover{
  background-color:#007bff !important;
  color:white;
  border-color:#007bff
}
.btn-glyph:hover{
  background-color: transparent;
}
