// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .container > div {
//     display: inline-block;
//     display: -moz-inline-box;
//     *display: inline; /* For IE7 */
//     zoom: 1; /* Trigger hasLayout */
//     width: 33%;
//     text-align: center;
// }

div.nations {
    display: table;
    width: 100%;
    table-layout:auto;   /* For cells of equal size */
}
div.nations span {
    background-color: #464646;
    display: table-cell;
    text-align:center;
  }
div.money {
  display:inline-block
}

div.bottom {
  background-color: #464646;
    display: table;
    width: 100%;
    table-layout: fixed;
    position: fixed;
    right: 0;
    bottom:0;    /* For cells of equal size */
}
div.bottom span {
    display: table-cell;
    text-align: center;
}
