.grey-background{
  background:rgba(200,200,200,0.92);
  padding:0.75rem;
}

.round{
  border-radius:2rem;
}

.error_explanation{
  background-color: rgba(220,220,220,.5);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.special-vertical-line{
  border-left: solid 2px;
  border-color: rgb(0,0,0);
}

.unit-tooltiptext {
  visibility: hidden;
  background-color: rgb(180,180,180);
  color: #262626;
  text-align: center;
  border:solid 1px;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  width: 25%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  //top:4rem;
  text-shadow:none
}

.unit-tooltip:hover .unit-tooltiptext {
  visibility: visible;
}

.game-select-form{
  font-size: 2rem !important;
  color:#262626 !important;
}

.top{
  position:fixed;
  z-index:99;
  //background-color:rgba(150,150,150,0.75);
  width:100%;
  flex-wrap: wrap;
}

.flag{
  height:7rem;
  display:block;
}

.nation{
  padding:1rem;
  padding-bottom:0rem;
  border: 5px solid;
  border-color:transparent;
  border-radius:0.5rem;
}
.nation-name {
  font-size: 4rem;
}

.money {
  padding:0px;
  flex: right;
  font-size: 2.5rem;
}

.container-game{
  margin-bottom: 0px;
  padding-bottom:4.4rem;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
   padding-left: 0.5vw;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-right: 0px;

   vertical-align: middle;
}

#exit {
  position: fixed;
  bottom:0;
  color: #f9f2de;
  font-size: 1.5vw;
}

#eco-bank, #eco-income {
  font-size: 2rem;
  padding-top: 0.5vw;
  padding:0px;
  color:#f9f2de;
}

#edit-bank, #edit-income {
  font-size: 1rem;
  padding-top: 0.5vw;
  padding:0px;
  color:#f9f2de;
}

.change-eco-pos {
  font-size: 2vw;
}

.unit-table{
  display: block;
}

.unit-table-top {
  font-size:2rem;
  color:#262626;
  border-bottom: 2px solid;
  border-color: rgb(255,255,255);
}

tr.change>td{
  width:50%
}

.tablerow1 {
    background-color: rgba(0, 0, 0, 0.4);z-index:-1;
    color:#262626
}

.tablerow2 {
    background-color: rgba(0, 0, 0, 0.6);z-index:-1;
    color:#f9f2de
}

.new-game{
  color:#f9f2de;
  font-size: 3vw;
}

#c-nation-card{
  padding:0.5rem;
  border-radius: 1rem;
}

#c-nation{
  font-size:5rem;
  white-space:nowrap;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top:0rem;
  padding-bottom:0rem;
}

.unit-table-body{
  font-size: 1.6rem;
}

#roundel{
  height: 5rem;
}

.economy-card{
  background-color: #262626;
  border-radius: 0.5rem;
}

#change-eco{
  font-size: 2.5rem;
  color: #f9f2de;
  width: fill;
  padding:1rem;
  border-radius: 0.5rem;
  border:3px solid;
}

.change-eco-card{
  background-color: rgba(20,20,20,0.7);
  border-radius: 50% ;
}
@media only screen and (max-width: 1406px){
  .nation-name{
    font-size: 3.5rem;
  }
  .money{
    font-size: 2.5rem;
  }
  .flag{
    height: 5rem;
  }
}

@media only screen and (max-width: 1240px){
  .nation-name{
    font-size: 3rem;
  }
  .money{
    font-size: 2.25rem;
  }
  .flag{
    height: 4rem;
  }
}

@media only screen and (max-width: 1080px){
  .nation-name{
    font-size: 2.75rem;
  }
  .money{
    font-size: 2rem;
  }
  .flag{
    height: 3.5rem;
  }
}

@media only screen and (max-width: 1000px){
  .nation-name{
    font-size: 2.25rem;
  }
  .money{
    font-size: 1.75rem;
  }
  .flag{
    height: 3.25rem;
  }
}

@media only screen and (max-width: 892px){
  .nation-name{
    font-size: 2rem;
  }
  .money{
    font-size: 1.5rem;
  }
  .flag{
    height: 2.5rem;
  }
}

@media only screen and (max-width: 785px){
  .nation-name{
    font-size: 1.75rem;
  }
  .money{
    font-size: 1.25rem;
  }
  .flag{
    height: 2rem;
  }
}

@media only screen and (max-width: 673px){
  .nation-name{
    font-size: 2.5rem;
  }
  .money{
    font-size: 2rem;
  }
  .flag{
    height: 4rem;
  }
}

@media only screen and (max-width: 500px){
  .nation-name{
    font-size: 2rem;
  }
  .money{
    font-size: 1.5rem;
  }

  .nation{
    padding:0rem !important;
  }

  .flag{
    height:2rem;
  }

  #pacific{
    font-size: 1.25rem;
  }

  #change-eco{
    padding:0.5rem;
    font-size: 2rem;
  }

  #roundel{
    height: 1.75rem;
  }
  #c-nation{
    font-size: 3rem;
  }
  #eco-bank, #eco-income {
    font-size: 1.5rem;
  }

  .btn-change{
    padding: 0.1rem
  }
}
@media only screen and (max-width: 750px){
  .special{
    display: none
  }
}
