//New Game

.game-select-form{
  font-size: 2rem !important;
  color:#262626 !important;
}

.nations {
  position:fixed;
  z-index:99;
  background-color:rgba(150,150,150,0.9);
  width:100%;
  flex-wrap: wrap;
}
.nation-name {
  font-size: 5rem;
  text-align: center;
}

.nation-border {
  border-style: solid;
  border-color: white;
}
.money {
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.25vw;
  padding:0px;
  display: flex;
  flex: right;
  flex-wrap: wrap;
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
}

.container-game{
  margin-bottom: 0px;
  padding-bottom:4.4rem;
  padding-top: 6.75vw;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td{
   padding-left: 0.5vw;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-right: 0px;

   vertical-align: middle;
}

#exit {
  position: fixed;
  bottom:0;
  color: #f9f2de;
  font-size: 1.5vw;
}

#change-eco {
  font-size: 3.5rem;
  width:100%;
  color: #f9f2de;
}

#eco-bank, #eco-income {
  font-size: 2.5rem;
  padding-top: 0.5vw;
  padding:0px;
  color:#f9f2de;

}

#edit-bank, #edit-income {
  font-size: 1rem;
  padding-top: 0.5vw;
  padding:0px;
  color:#f9f2de;

}

.change-eco-pos {
  font-size: 2vw;
}

.table-top {
  font-weight: bold;
  font-size:2.25rem;
  background-color:rgba(150, 150, 150, 0.5)
}

tr.change>td{
  width:50%
}

.tablerow1 {
    background-color: rgba(0, 0, 0, 0.4);z-index:-1;
    color:#262626
}

.tablerow2 {
    background-color: rgba(0, 0, 0, 0.6);z-index:-1;
    color:#f9f2de
}

.new-game{
  color:#f9f2de;
  font-size: 3vw;
}

#c-nation-card{
  padding:0.5rem;
  border-radius: 1rem;
}

#c-nation{
  font-size:5rem;
  white-space:nowrap
}

#end-turn{
  font-size: 4rem
}

.unit-table{
  font-size: 1.6rem;
}

#roundel{
  height: 5rem;
}

.economy-card{
  background-color: #262626;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 500px) and (orientation:portrait){
  .nation-name,.money{
    font-size: 2rem;
  }

  .special{
    display: none
  }

  #reset-buy,#pacific{
    font-size: 1.25rem;
  }

  #end-turn{
    font-size: 1.5rem
  }

  #roundel{
    height: 1.75rem;
  }
  #c-nation{
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) and (orientation:landscape){
  .nation-name,.money{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px) and (orientation:portrait){
  .nation-name,.money{
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 800px) and (orientation:landscape){
  .nation-name,.money{
    font-size: 3rem;
  }
}
