// Place all the styles related to the Nations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#next, #previous {
  height: 100%;
  color: white;
  font-size: 2.5vw;
}

#nations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.objective-card{
  border-radius: 0.5rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgba(200,200,200,0.6);
  width:fit-content;
}
