// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#research-title {
  font-size: 6rem;
}

.research{
  font-size: 1.25rem;
  height:75px;
  width: 120px;
  background-color: white;
  border: solid black 1px;
}

.research-col{
  display: grid !important;
}

.research-table-1{
  background-color: #1a8cff;
}

.research-table-2{
  background-color: #99ccff;
}

.w-33{
  width:33%;
  padding-right:0.1rem !important;
  padding-left: 0.1rem !important
}

.chart-1{
  background-color: #669999 !important;
  border-radius: 0.25rem;
}

.chart-2{
  background-color:#666699;
}

.research-tooltip {
  //position: relative !important;
  //display: inline-block !important;
  //opacity: 100 !important;
}

.tooltiptext {
  visibility: hidden;
  background-color: rgb(180,180,180);
  color: #262626;
  text-align: center;
  border:solid 1px;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 1.25rem;
  width: 30%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top:4rem;
}

.research-tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext-right{
  right:1.5rem;
}

@media only screen and (min-width: 800px){
  .left-research-col{
    padding-right: 0px !important;
  }

  .right-research-col{
    padding-left: 0px !important
  }
}
