// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.research {
  padding: 1px
}
button.research-title-1 {
  display: table;
  height: 8vh;
  width: 100%;
  text-align: center;
  padding: 0;
  white-space: normal;
  background: #669999
}

button.research-title-2 {
  display: table;
  height: 8vh;
  width: 100%;
  text-align: center;
  padding: 0;
  white-space: normal;
  background: #666699
}

button.research-button {
  font-size: 1.5vw
}

.test + .tooltip > .tooltip-inner {
      background-color: #73AD21;
      color: #FFFFFF;
      border: 1px solid green;
      padding: 15px;
      font-size: 20px;
  }
