// Place all the styles related to the researches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#research-title {
  font-size: 6rem;
}

.no-padding {
  padding:0px !important
}

.table-research{
  table-layout: fixed;
}

.chart-1{
  background-color: #669999 !important
}
