// Place all the styles related to the victories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.v-title {
  font-size: 3rem;
  color:#f9f2de;
}

.axis{
  color:#ff1a1a;
}

.allies{
  color:#0040ff;
}

.victory{
  background-color: rgba(248,248,259, 0.9);
  border-radius: 1rem;
  border:solid black 1px;
  padding:0.5rem;
  height: 70vh;
}



@media only screen and (max-width: 768px){
  .v-title {
    font-size: 4rem;
  }
}
