// Place all the styles related to the victories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#v-title {
  font-size: 7vh;
}

.victory {
  font-size: 1.0vh;
  color: #orange;
}
