// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signed-in {
  font-size: 1vw;
  color: white;
}


.login-bar{
  background-color: #878C8F;
  z-index: 99;
  border-bottom: solid 1px;
  border-color:black;
  //width:100%;
  //position:fixed;
  //padding: 1rem !important;
  //height: 5rem;
}

.login-form{
  padding-top:2rem;
}

.login-line{
  max-width: 1100px;
  min-width: 900px;
  margin:auto;
  display:flex;
  //padding-bottom:0.1rem;
}

.login-group{
  margin-left:1rem;
  margin-bottom:0.5rem;
}

.login-info{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.signup-card{
  border-radius: 1rem;
  border:solid 1px;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #878C8F;
  width:fit-content;
}


.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
